:root {
    /* =~= Theme Properties =~= */
    --theme-font-family-base: system-ui;
    --theme-font-family-heading: system-ui;
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
    --theme-rounded-base: 4px;
    --theme-rounded-container: 8px;
    --theme-border-base: 1px;
    /* =~= Theme On-X Colors =~= */
    --on-primary: 255 255 255;
    --on-secondary: 0 0 0;
    --on-tertiary: 255 255 255;
    --on-success: 255 255 255;
    --on-warning: 255 255 255;
    --on-error: 255 255 255;
    --on-surface: 255 255 255;
    /* =~= Theme Colors  =~= */
    /* primary | #7b0920 */
    --color-primary-50: 235 218 222; /* ⬅ #ebdade */
    --color-primary-100: 229 206 210; /* ⬅ #e5ced2 */
    --color-primary-200: 222 194 199; /* ⬅ #dec2c7 */
    --color-primary-300: 202 157 166; /* ⬅ #ca9da6 */
    --color-primary-400: 163 83 99; /* ⬅ #a35363 */
    --color-primary-500: 123 9 32; /* ⬅ #7b0920 */
    --color-primary-600: 111 8 29; /* ⬅ #6f081d */
    --color-primary-700: 92 7 24; /* ⬅ #5c0718 */
    --color-primary-800: 74 5 19; /* ⬅ #4a0513 */
    --color-primary-900: 60 4 16; /* ⬅ #3c0410 */
    /* secondary | #e3f1e6 */
    --color-secondary-50: 251 253 251; /* ⬅ #fbfdfb */
    --color-secondary-100: 249 252 250; /* ⬅ #f9fcfa */
    --color-secondary-200: 248 252 249; /* ⬅ #f8fcf9 */
    --color-secondary-300: 244 249 245; /* ⬅ #f4f9f5 */
    --color-secondary-400: 235 245 238; /* ⬅ #ebf5ee */
    --color-secondary-500: 227 241 230; /* ⬅ #e3f1e6 */
    --color-secondary-600: 204 217 207; /* ⬅ #ccd9cf */
    --color-secondary-700: 170 181 173; /* ⬅ #aab5ad */
    --color-secondary-800: 136 145 138; /* ⬅ #88918a */
    --color-secondary-900: 111 118 113; /* ⬅ #6f7671 */
    /* tertiary | #3245fd */
    --color-tertiary-50: 224 227 255; /* ⬅ #e0e3ff */
    --color-tertiary-100: 214 218 255; /* ⬅ #d6daff */
    --color-tertiary-200: 204 209 255; /* ⬅ #ccd1ff */
    --color-tertiary-300: 173 181 254; /* ⬅ #adb5fe */
    --color-tertiary-400: 112 125 254; /* ⬅ #707dfe */
    --color-tertiary-500: 50 69 253; /* ⬅ #3245fd */
    --color-tertiary-600: 45 62 228; /* ⬅ #2d3ee4 */
    --color-tertiary-700: 38 52 190; /* ⬅ #2634be */
    --color-tertiary-800: 30 41 152; /* ⬅ #1e2998 */
    --color-tertiary-900: 25 34 124; /* ⬅ #19227c */
    /* success | #5bb580 */
    --color-success-50: 230 244 236; /* ⬅ #e6f4ec */
    --color-success-100: 222 240 230; /* ⬅ #def0e6 */
    --color-success-200: 214 237 223; /* ⬅ #d6eddf */
    --color-success-300: 189 225 204; /* ⬅ #bde1cc */
    --color-success-400: 140 203 166; /* ⬅ #8ccba6 */
    --color-success-500: 91 181 128; /* ⬅ #5bb580 */
    --color-success-600: 82 163 115; /* ⬅ #52a373 */
    --color-success-700: 68 136 96; /* ⬅ #448860 */
    --color-success-800: 55 109 77; /* ⬅ #376d4d */
    --color-success-900: 45 89 63; /* ⬅ #2d593f */
    /* warning | #e3a35b */
    --color-warning-50: 251 241 230; /* ⬅ #fbf1e6 */
    --color-warning-100: 249 237 222; /* ⬅ #f9edde */
    --color-warning-200: 248 232 214; /* ⬅ #f8e8d6 */
    --color-warning-300: 244 218 189; /* ⬅ #f4dabd */
    --color-warning-400: 235 191 140; /* ⬅ #ebbf8c */
    --color-warning-500: 227 163 91; /* ⬅ #e3a35b */
    --color-warning-600: 204 147 82; /* ⬅ #cc9352 */
    --color-warning-700: 170 122 68; /* ⬅ #aa7a44 */
    --color-warning-800: 136 98 55; /* ⬅ #886237 */
    --color-warning-900: 111 80 45; /* ⬅ #6f502d */
    /* error | #ff3e3e */
    --color-error-50: 255 226 226; /* ⬅ #ffe2e2 */
    --color-error-100: 255 216 216; /* ⬅ #ffd8d8 */
    --color-error-200: 255 207 207; /* ⬅ #ffcfcf */
    --color-error-300: 255 178 178; /* ⬅ #ffb2b2 */
    --color-error-400: 255 120 120; /* ⬅ #ff7878 */
    --color-error-500: 255 62 62; /* ⬅ #ff3e3e */
    --color-error-600: 230 56 56; /* ⬅ #e63838 */
    --color-error-700: 191 47 47; /* ⬅ #bf2f2f */
    --color-error-800: 153 37 37; /* ⬅ #992525 */
    --color-error-900: 125 30 30; /* ⬅ #7d1e1e */
    /* surface | #484848 */
    --color-surface-50: 228 228 228; /* ⬅ #e4e4e4 */
    --color-surface-100: 218 218 218; /* ⬅ #dadada */
    --color-surface-200: 209 209 209; /* ⬅ #d1d1d1 */
    --color-surface-300: 182 182 182; /* ⬅ #b6b6b6 */
    --color-surface-400: 127 127 127; /* ⬅ #7f7f7f */
    --color-surface-500: 72 72 72; /* ⬅ #484848 */
    --color-surface-600: 65 65 65; /* ⬅ #414141 */
    --color-surface-700: 54 54 54; /* ⬅ #363636 */
    --color-surface-800: 43 43 43; /* ⬅ #2b2b2b */
    --color-surface-900: 35 35 35; /* ⬅ #232323 */
}
